.confirmation-container {
    align-items: center;
    justify-content: center;
    margin-top: 8%;
    text-align: center;
  }
  
  .confirmation-header {
    color: #6adc9d
  }

  p{
    font-size: larger;
  }