.header {
    text-align: center;
    width: 100%;
    background: #A66CFF;
    color: #fff;
    padding: 1px;
    padding-right: 0;
    padding-left: 0;
  }

.slogan{
  font-size: smaller;
  margin-top: -20px;
  margin-bottom: -7px;
  font-style: italic;
}
  
  a {
    color: #ffffff;
  }