.product-image {      
    list-style-type: none;
    width: 200px;
    padding: 10px;
    margin: 6px 6px;        
    border: 2px solid #A66CFF;
  } 
  
  .product-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .select-input {
    width: 86px; 
    margin-bottom: 8px;
  }

  h2{
    margin-bottom: 0px;
  }