<div class="product-container">

    <a routerLink="/products/{{product.id}}">
        <img class="product-image" [src]="product.url" [alt]="product.description">
    </a>
    <h2>{{ product.name }}</h2>
    <p>${{ product.price }}</p>

    <select [ngModel]="quantity" (ngModelChange)="quantity = $event"  class="select-input">
        <option *ngFor="let item of [].constructor(10); let i = index" [value]="i+1">
            <!-- To insert from 1 to 10 in the selector -->
            {{ i+1 }}
        </option>
    </select>

    <button (click)="addToCart()"> Add To Cart</button>



</div>