input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


.error{
    color: red;
    font-size: small;
}
.center-button{
  margin-left: 48px;
}

.form-container{
  width: 300px;
}