

<div class ="detail-container">
    <h1>{{ product.name }}</h1> 

    <div class="main-container">
        <img  [src]="product.url" [alt]="product.description">
    

        <div class="secondary-container">
            <p  class ="detail-item" >{{ product.description }}</p>
            <p >${{ product.price }}</p>
    
            <select [(ngModel)]="quantity" class ="select-input">
                <option *ngFor="let item of [].constructor(10); let i = index" [value]="i+1">
                    <!-- To insert from 1 to 10 in the selector -->
                    {{ i+1 }}
                 </option>
            </select>
            <br>
            <button (click)="addToCart()"> Add To Cart </button><br>

            <a routerLink="/"> 
                <button class="back-link">Back to Home Page</button> 
            </a>
        </div>
    </div>

</div>